@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html, body, #root {
  height: 100%;
}

::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}